<!doctype html>
<html>

<head>
    <title>Didididie</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style type="text/css">
        #login,
        #loggedin {
            display: none;
        }

        .text-overflow {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 500px;
        }

        #loading_gif {
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8) url('images/loading.gif') 50% 50% no-repeat;
        }

        tbody {
            text-align: center;
            background: #f1f1f1;
            border-bottom-style: solid;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15pt;
        }

        tr {
            background: #CCC;
            color: #000;
            height: 20px;
            text-align: center;
        }

        th{
            text-align: center
        }

        td {
            padding: 10px;
        }

        .emoji {
            background: #FFF;
        }

        .header {
            background: #000;
            height: 100px;
            color: #f1f1f1;
            text-align: center;
            align-self: initial
        }

        .app-fab--thumb {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .app-fab--absolute {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        @media(min-width: 1024px) {
            .app-fab--absolute {
                bottom: 1.5rem;
                right: 1.5rem;
            }
        }

        .action-button{
            padding: 2%;
        }
    </style>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1>Didididiê</h1>
            <p></p>
        </div>
    </div>
</head>