<div class="footer-search">
        <input type="text" id="search" class="search-box" placeholder="search" autocomplete="off"></input>
        <a href="/home">
            <button class="mdc-fab material-icons app-fab--absolute" aria-label="back">
                <span class="mdc-fab__icon">
                    home
                </span>
            </button>
        </a>
    </div>