<% include ../header %>

    <body>
        <a href="/">
            <button class="mdc-fab material-icons app-fab--absolute" aria-label="back">
                <span class="mdc-fab__icon">
                    home
                </span>
            </button>
        </a>
        <div class="container">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>
                            Rate
                        </th>
                        <th>
                            Votes
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Artist
                        </th>
                        <th>
                            Added by
                        </th>
                        <th>
                            Ranking
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <script>
            var listArray = Array();

            $(document).ready(function () {
                getPlayList();

                function getPlayList() {
                    var request = $.ajax({
                        cache: false,
                        url: "/analysis_playlist"
                    });

                    request.done(function (result) {
                        console.log(result);
                        loadData(result);
                    });
                    request.fail(function (jqXHR, textStatus) {
                        console.log(textStatus);
                    });
                }

            });

            function loadData(result) {
                $('tbody').empty();
                var usersNames = new Array();
                for (var i in result.users) {
                    usersNames[result.users[i].user_id] = result.users[i].user_display_name;
                }
                for (var i in result.list) {
                    listArray[i] = result.list[i].track_id;
                    var position = parseInt(i) + 1;
                    $('tbody').
                        append('<tr>').
                        append('<td>' + result.list[i].track_rates_avarage_rate.toFixed(2) + '</td>').
                        append('<td>' + result.list[i].track_rates.length + '</td>').
                        append('<td>' + result.list[i].track_name + '</td>').
                        append('<td>' + result.list[i].track_artist + '</td>').
                        append('<td>' + usersNames[result.list[i].track_add_by] == undefined ? "Não Consta" : usersNames[result.list[i].track_add_by] + '</td>').
                        append('<td>' + position + 'º</td>').
                        append('</tr><tr>');
                    var likes = "";
                    for (var j in result.list[i].track_rates) {
                        if (result.list[i].track_rates[j].rate_value == 1) {
                            likes += usersNames[result.list[i].track_rates[j].rate_user_id] + ' - ';
                        }
                    }

                    if (likes != "") {
                        likes = '<td class="like_dislike_td" colspan="3">' + likes + '</td>';
                        $('tbody').
                            append('<td><img src="images/smile.png" width="20dp" height="20dp"></td>').
                            append(likes).
                            append('</tr><tr>');
                    }
                    var dislikes = "";
                    for (var j in result.list[i].track_rates) {
                        if (result.list[i].track_rates[j].rate_value == -1) {
                            dislikes += usersNames[result.list[i].track_rates[j].rate_user_id] + ' - ';
                        }
                    }

                    if (dislikes != "") {
                        dislikes = '<td class="like_dislike_td" colspan="3">' + dislikes + '</td>';
                        $('tbody').
                            append('<td><img src="images/disguted.png" width="20dp" height="20dp"></td>').
                            append(dislikes).
                            append('</tr>');
                    }
                    console.log(result.list[i]);
                }
            }
        </script>
    </body>

    </html>