<% include ../header %>

    <body>
        <a href="/">
            <button class="mdc-fab material-icons app-fab--absolute" aria-label="back">
                <span class="mdc-fab__icon">
                    home
                </span>
            </button>
        </a>
        <div class="container" id="realTimeContents">
            <div class="ui-block-a">
                <input name="text-12" id="text-12" value="" type="text" class="textSearchvalue_h" />
            </div>
            <div class="ui-block-b">
                <a href="#" class="searchButtonClickText_h">Search</a>
            </div>
            <div class="ui-block-c">
                <a href="#" class="next_h">Next</a>
            </div>
            <div class="ui-block-d">
                <a href="#" class="previous_h">Previous</a>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>
                            Album
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Artist
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <script>
            var listArray = Array();

            $(document).ready(function () {
                getPlayList();

                function getPlayList() {
                    var request = $.ajax({
                        cache: false,
                        url: "/rating"
                    });

                    request.done(function (result) {
                        console.log(result);
                        loadData(result);
                    });
                    request.fail(function (jqXHR, textStatus) {
                        console.log(textStatus);
                    });
                }

            });

            function positive(id) {
                var request = $.ajax({
                    cache: false,
                    url: "/rate",
                    type: 'POST',
                    data: {
                        'track_id': listArray[id],
                        'rate_value': 1
                    }
                });

                request.done(function (data) {
                    console.log("Done");
                    loadData(data);
                });
                request.fail(function (jqXHR, textStatus) {
                    console.log(textStatus);
                });
            }

            function negative(id) {
                var request = $.ajax({
                    cache: false,
                    url: "/rate",
                    type: 'POST',
                    data: {
                        'track_id': listArray[id],
                        'rate_value': -1
                    }
                });

                request.done(function (data) {
                    console.log("Done");
                    loadData(data);
                });
                request.fail(function (jqXHR, textStatus) {
                    console.log(textStatus);
                });
            }

            function loadData(result) {
                $('tbody').empty();
                for (var i in result.list) {
                    listArray[i] = result.list[i].track_id;
                    $('tbody').
                        append('<tr>').
                        append('<td><img src="' + result.list[i].track_image + '" width="150px" height="150px"/></td>').
                        append('<td>' + result.list[i].track_name + '</td>').
                        append('<td>' + result.list[i].track_artist + '</td>').
                        append("<td><button class='mdc-fab material-icons app-fab--thumb' aria-label='back' onclick='positive(" + i + ");'><span>thumb_up</span></button></td>").
                        append("<td><button class='mdc-fab material-icons app-fab--thumb' aria-label='back' onclick='negative(" + i + ");'><span>thumb_down</span></button></td>");
                    if (result.list[i].track_rates != "") {
                        var rated = false;
                        for (var j in result.list[i].track_rates) {
                            if (result.list[i].track_rates[j].rate_user_id == result.user_id) {
                                rated = true;
                                if (result.list[i].track_rates[j].rate_value == 1)
                                    $('tbody').append("<td> <img src='images/smile.png' width='20dp' height='20dp'>Gostei</td>");
                                else if (result.list[i].track_rates[j].rate_value == -1)
                                    $('tbody').append("<td><img src='images/disguted.png' width='20dp' height='20dp'> Não Gostei</td>");
                            }
                        }
                        if (!rated) {
                            $('tbody').append("<td><img src='images/alert.png' width='20dp' height='20dp'></td>");
                        }
                    }
                    $('tbody').append('</tr>');
                }
            }

            function searchAndHighlight(searchTerm, selector) {
                if (searchTerm) {
                    var selector = selector || "#realTimeContents"; //use body as selector if none provided
                    var searchTermRegEx = new RegExp(searchTerm, "ig");
                    var matches = $(selector).text().match(searchTermRegEx);
                    if (matches != null && matches.length > 0) {
                        $('.highlighted').removeClass('highlighted'); //Remove old search highlights 

                        //Remove the previous matches
                        $span = $('#realTimeContents span');
                        $span.replaceWith($span.html());

                        if (searchTerm === "&") {
                            searchTerm = "&amp;";
                            searchTermRegEx = new RegExp(searchTerm, "ig");
                        }
                        $(selector).html($(selector).html().replace(searchTermRegEx, "<span class='match'>" + searchTerm + "</span>"));
                        $('.match:first').addClass('highlighted');

                        var i = 0;

                        $('.next_h').off('click').on('click', function () {
                            i++;

                            if (i >= $('.match').length) i = 0;

                            $('.match').removeClass('highlighted');
                            $('.match').eq(i).addClass('highlighted');
                            $('.ui-mobile-viewport').animate({
                                scrollTop: $('.match').eq(i).offset().top
                            }, 300);
                        });
                        $('.previous_h').off('click').on('click', function () {

                            i--;

                            if (i < 0) i = $('.match').length - 1;

                            $('.match').removeClass('highlighted');
                            $('.match').eq(i).addClass('highlighted');
                            $('.ui-mobile-viewport').animate({
                                scrollTop: $('.match').eq(i).offset().top
                            }, 300);
                        });




                        if ($('.highlighted:first').length) { //if match found, scroll to where the first one appears
                            $(window).scrollTop($('.highlighted:first').position().top);
                        }
                        return true;
                    }
                }
                return false;
            }

            $(document).on('click', '.searchButtonClickText_h', function (event) {

                $(".highlighted").removeClass("highlighted").removeClass("match");
                if (!searchAndHighlight($('.textSearchvalue_h').val())) {
                    alert("No results found");
                }


            });
        </script>
    </body>

    </html>
